* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff !important;
}
header.header {
    position: relative;
    height: 791px;
}
/*.container {
    border: 1px solid red;
}*/
.menu {
    background-color: #ffffff;
    position: relative;
    top: 0px;
    width: 100%;
    height: 144px;
    z-index: 2;
}
.menu-main {
    line-height: 144px;
}
.logo {
    position: absolute;
    top: 0px;
    cursor: pointer;
}
.search {
    position: relative;
    top: 34px;
    left: 50%;
    transform: translateX(-35%);
    height: 46px;
    width: 70%;
    border-bottom: 2px solid gray;
}
.inputSearch {
    height: 37px;
    width: 100%;
    border: 1px solid #dedede;
    padding: 0px 10px;
    outline: none;
    position: absolute;
}
.btnSearch {
    position: absolute;
    top: 0px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    width: 100px;
    right: 0px;
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}
.menu-list {
    height: 30px;
    line-height: 30px;
    text-align: right;
    position: relative;
    top: 43px;
    width: 100%;
    padding-right: 50px;
}
.menu-list ul li {
    display: inline-block;
    padding-left: 80px;
}
.menu-list ul li:first-child {
    padding-left: 0px;
}
.menu-list ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #414042;
}
.menu-list ul li.menu-item.item-bars {
    display: none;
}
#language {
    float: right;
    position: relative;
    top: 16px;
    border: none;
    outline: none;
    font-weight: 600;
}
.banner {
    position: relative;
    top: -144px;
    z-index: 1;
}
.banner-slide {
    position: relative;
}
.banner-slide ul li.slide-item {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}
.banner-slide ul li.slide-item img {
    width: 100%;
    height: 791px;
    filter: brightness(80%);
}
.banner-slide ul li.slide-item.slide-active {
    opacity: 1;
    visibility: visible;
}
.banner-dots {
    position: relative;
    top: 330px;
    z-index: 2;
}
.banner-dots ul li {
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border-radius: 50%;
    list-style-type: none;
    margin: 10px 0px;
    top: 50%;
    cursor: pointer;
}
.banner-text {
    position: relative;
    top: 150px;
    z-index: 1;
}
.banner-text p {
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}
.text-welcome {
    font-size: 26px;
}
.text-name {
    font-size: 50px;
    font-family:"utmaptimabold";
}
.text-dsc {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 456px;
    font-size: 22px;
}
.category {
    position: relative;
    top: -11px;
}
.category-main {
    position: relative;
    z-index: 2;
    height: 50px;
    line-height: 50px;
    box-shadow: 1px 2px 3px 1px #888888;
    background-color: #ffffff;
    padding: 0px 20px;
}
.category-main ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.category-main ul li.category-item {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.category-main ul li.category-item a {
    text-decoration: none;
    color: #111111;
    font-weight: 600;
}

.wrapper {
    margin-top: 60px;
    
}
.wrapper-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.introduct-img img {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.introduct-content p {
    text-align: justify;
}
.introduct-image {
    position: relative;
    top: 30px;
}
.introduct-image img {
    width: 60%;
    position: relative;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}
.introduct-image::before {
    width: 200px;
    height: 130px;
    display: block;
    background-color: #b1b1b1;
    position: absolute;
    top: -20px;
    left: 82px;
    z-index: 1;
    content: "";
}
.introduct-image::after {
    width: 200px;
    height: 130px;
    display: block;
    background-color: #ca9832;
    position: absolute;
    top: 207px;
    left: 254px;
    z-index: 1;
    content: "";
}
.perfect {
    margin-top: 50px;
    display: flex;
}
.perfect-item {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfect-img {
    width: 100%;
}
.perfect-item .perfect-img img {
    width: 100%;
}
.perfect-main {
    position: absolute;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
    z-index: 2;
}
.perfect-main {
    width: 100%;

}
.perfect-main::before {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    width: 80%;
    height: 200px;
    background: #000000;
    opacity: 0.6;
    content: ""; 
    z-index: 1;
}
.perfect-main i.fa {
    padding-top: 40px;
    position: relative;
    z-index: 2;
}
.perfect-title {
    position: relative;
    z-index: 2;
}
.wrapper-text p {
   text-align: justify;
   font-weight: 500;
}
.wrapper-text p.text-bold {
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}
.wrapper-img img {
    width: 100%;
}
.floor-more {
    display: flex;
    margin-top: 30px;
}
.floor-more div.warpper-item {
    width: 100%;
}
.floor-more div.warpper-item.wrapper-text {
    padding: 0px 50px;
}
.photo-list {
    display: flex;
}
.photo-list .photo-item {
    width: 100%;
    margin-right: 30px;
}
.photo-list .photo-item:last-child {
    margin-right: 0px;
}
.photo-item img {
    width: 100%;
}
.prog {
    position: relative;
}
.photo-list-margin {
    margin-bottom: 30px;
}
.prog .prog-img {
    float: left;
    width: 75%;
}
.prog .prog-img img {
    width: 100%;
    height: 774px;
}
.prog-text {
    position: relative;
    top: 240px;
    left: -13%;
}
.prog-text .prog-title {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}
.prog-text .text-bold {
   font-weight: bold;
    font-size: 31px;
}
.prog-text p {
    text-align: justify;
    font-weight: 500;
}
.call-us {
    clear: both;
    position: relative;
    height: 440px;
}
.call-img {
    width: 100%;
}
.call-img img {
    width: 100%;
    height: 440px;
}
.call-text {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    top: -300px;
    color: #ffffff;
}
footer.footer {
    background-color: #191919;
    color: #ffffff;
    padding: 50px 0px;
}
.footer-main {
    color: #ffffff;
    position: absolute;
    bottom: 0px;
}

.menuFixed {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid #dedede;
    box-shadow: 1px 2px 3px 1px #888888;
}

@media screen and (max-width: 1199px) {
    .introduct-image img {
        width: 80%;
    }
    .introduct-image::before {
        left: 22px;
    }
    .introduct-image::after {
        top: 242px;
        left: 231px;
    }
    .floor-more {
        display: flex;
        flex-direction: column;
    }
    .wapper-img img {
        width: 100%;
    }
}
@media screen and (max-width: 991px) {
    .menu-list ul li {
        padding-left: 18px;
    }
    .category-main ul li.category-item {
        font-size: 12px;
    }
    .introduct-image::before {
        left: 7px;
    }
    .introduct-image::after {
        top: 150px;
        left: 122px;
    }
    .prog-text {
        top: 0px;
        left: 0px;
        padding: 0px 20px;
    }
    .prog-text .text-bold {
        font-size: 17px;
    }
}  
@media screen and (max-width: 767px) {
    .menu-list ul li {
        padding-left: 0px;
    }
    .menu-list ul li a {
        font-size: 14px;
    }
    .category-main ul li.category-item {
        font-size: 8px;
    }
    .introduct-image::before {
        left: 24px;
    }
    .introduct-image::after {
        top: 290px;
        left: 285px;
    }
    .introduct-image {
        margin-bottom: 30px;
    }
    .footer-main {
        display: none;
    }
    .perfect-main::before {
        display: none;
    }
    .perfect-item .perfect-img img {
        filter: brightness(50%);
    }
}
@media screen and (max-width: 575px) {
    .search {
        position: relative;
        top: 34px;
        left: 89%;
        transform: translateX(-50%);;
        width: 100px;
    }
    .menu-list ul li.menu-item {
        display: none;
    }
    .menu-list ul li.menu-item.item-bars {
        display: inline-block;
    }
    .category-main ul li.category-item {
        font-size: 5px;
    }
    .introduct-image::before,.introduct-image::after {
        display: none;
    }
    .perfect-title {
        font-size: 16px;
    }
    .call-text {
        font-size: 27px;
    }
    .banner-dots {
        position: relative;
        top: 600px;
        text-align: center;
    }
    .banner-dots ul li {
        display: inline-block;
    }
}